<header id="gh-head" class="gh-head">
    <nav class="gh-head-inner gh-container">

        <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
                {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                {{@site.title}}
                {{/if}}
            </a>
            <a class="gh-burger" role="button">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu">
            {{navigation}}
        </div>
        <div class="gh-head-actions">
            <div class="gh-head-actions-list">
                {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{>
                    "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{>
                    "icons/twitter"}}</a>
                {{/if}}
                <a href="/#donate" class="gh-button" role="button">
                    Spenden
                </a>
            </div>
        </div>
    </nav>
</header>